* {
	padding: 0px;
	margin: 0px;
	font-family: helvetica, tahoma, calibri, verdana, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	display: inline-block;
}

#top-bars {
	width: 890px;
	height: 115px;
	background: linear-gradient(RGB(232,232,232),RGB(255,255,255));
}

#black-background {
	width: 890px;
	height: 505px;
	background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0,0,0,1));
	/*background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(58,58,56,0.5),rgba(0,0,0,0.5));*/
}

	#black-background img{
		opacity: 0;
	}

#second-bg {
	position:relative; top:-505px;
	opacity: .2;
}

#top-bars img,#top-bars h4 {
	display: inline;
	vertical-align: top;
}

h4 {
	margin-left: 285px;
	line-height: 80px;
}